In [1]:
import pandas as pd

df = pd.read_csv('sample_data/gpt-4-scores.csv')
df.head(3)

  flores_codes resource_level  average_chosen_scores  average_rejected_scores
0     ssw_Latn            low                   3.96                 1.510204
1     tso_Latn            low                   3.96                 1.500000
2     nso_Latn            low                   3.62                 1.520000

In [3]:
df['score_diff'] = df['average_chosen_scores'] - df['average_rejected_scores']
max_score_diff = df['score_diff'].max()
df['score_diff_norm'] = df['score_diff'] / max_score_diff
ldi = df['score_diff_norm'].mean()
print(f'LDI: {ldi:.2f}')

LDI: 0.85